:root {
	--base-text-color: oklch(27.95% 0.037 260.03);
	--primary-color: oklch(50% 0.119 242.75);
	--primary-hover-color: oklch(44.34% 0.1 240.79);
}

body {
	@apply bg-[oklch(96.74%_0.001_286.38)] text-[--base-text-color];
}

:is(th, td) {
	padding: unset;
}

/* :any-link {
	text-decoration: underline;
} */

:focus-visible,
:is(.secondary-button, .primary-button, .reset-button):active {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

:is(a, .back-link) {
	@apply text-[--primary-color] hover:text-[--primary-hover-color] hover:underline focus:text-[--primary-hover-color] focus:underline;
}

button {
	@apply disabled:cursor-not-allowed disabled:opacity-60;
	-webkit-tap-highlight-color: transparent;
	background-color: unset; /* https://unocss.dev/guide/style-reset#tailwind */
}

/* iOS */
button[type='submit'] {
	font-weight: 400;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
textarea {
	@apply appearance-none;
	-webkit-tap-highlight-color: transparent;
}

.headline {
	@apply border-b border-b-[oklch(37.17%_0.039_257.29)] pb-2.5 text-2xl font-medium md:text-3xl;
}

:is(.secondary-button, .primary-button) {
	@apply inline-flex touch-manipulation select-none items-center whitespace-nowrap rounded border-0 px-3 py-1.5 text-center font-normal hover:no-underline focus:no-underline;
}

.secondary-button {
	@apply bg-[oklch(92.19%_0_0)] text-[--base-text-color] hover:bg-[oklch(86.99%_0_0)] hover:text-[--base-text-color] focus:bg-[oklch(86.99%_0_0)] focus:text-[--base-text-color];
}

.primary-button {
	@apply bg-[--primary-color] text-white hover:bg-[--primary-hover-color] hover:text-white focus:bg-[--primary-hover-color] focus:text-white focus-visible:outline-[--primary-hover-color] active:outline-[--primary-hover-color];
}

.is-required > label::after {
	@apply text-red-700;
	content: ' *';
}

.form-control {
	@apply block w-full rounded border border-transparent bg-gray-100 px-3 py-1.5 focus:bg-white;

	&:not(textarea) {
		height: 2.25rem;
	}

	&::placeholder {
		color: oklch(55.1% 0.023 264.36);
	}
}
