:root {
	--scrollbar-thumb-color: hsl(218, 13%, 64%);
	--scrollbar-track-color: hsla(218, 76%, 15%, 0.08);
	--base-text-color: #1e293b;
	--primary-color: #0369a1;
	--primary-hover-color: #075985;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
}
::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color);
}

html {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

body {
	@apply bg-[#f4f4f5] text-[--base-text-color];
}

:is(a, button) {
	@apply focus-visible:outline-2 focus-visible:outline-solid focus-visible:outline-current focus-visible:outline-offset-2;
	/* &:focus-visible {
		outline: 2px solid currentColor;
		outline-offset: 2px;
	} */
}

:is(a, .back-link) {
	@apply text-[--primary-color] hover:text-[--primary-hover-color] hover:underline focus:text-[--primary-hover-color] focus:underline;
}

button {
	@apply disabled:cursor-not-allowed disabled:opacity-60;
	-webkit-tap-highlight-color: transparent;
	background-color: unset; /* https://unocss.dev/guide/style-reset#tailwind */
}

input[type='checkbox'],
input[type='radio'] {
	@apply focus:outline-none focus:ring-2 focus:ring-offset-1;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
textarea {
	@apply appearance-none;
	-webkit-tap-highlight-color: transparent;
}

.headline {
	@apply border-b border-b-[#334155] pb-2.5 text-2xl font-medium md:text-3xl;
}

.btn {
	@apply inline-flex touch-manipulation select-none items-center whitespace-nowrap rounded border-0 px-3 py-1.5 text-center font-normal hover:no-underline focus:no-underline;
	-webkit-tap-highlight-color: transparent;
}

.btn-default {
	@apply bg-[#e5e5e5] text-[--base-text-color] hover:bg-[#d4d4d4] hover:text-[--base-text-color] focus:bg-[#d4d4d4] focus:text-[--base-text-color];
}

.btn-primary {
	@apply bg-[--primary-color] text-white hover:bg-[--primary-hover-color] hover:text-white focus:bg-[--primary-hover-color] focus:text-white focus-visible:outline-[--primary-hover-color];
}

.is-required > label::after {
	@apply text-red-700;
	content: ' *';
}

.form-control {
	@apply block w-full rounded border border-transparent bg-gray-100 px-3 py-1.5 focus:border-gray-500 focus:bg-white focus:outline-none;

	&:not(textarea) {
		height: 2.125rem;
	}

	&::placeholder {
		color: #6b7280;
	}
}

/* https://www.bram.us/2021/06/23/css-at-supports-rules-to-target-only-firefox-safari-chromium/#update-2 */
@supports (background: -webkit-named-image(i)) {
	.form-control {
		font-size: 16px;
	}
}
